:root {
	--text-black: #000;
	--text-white: #fff;
}

html {
	font-size: 62.5%;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-width: 100vw;
	background-color: #f6f6f6;
	.container {
		position: relative;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		background-color: #767676;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #ffff;
		.content {
			width: 100%;
			display: flex;
			.introduce {
				position: relative;
				width: 40%;
				height: 100%;
				z-index: 20;
				.wrapper {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: fit-content;
					padding: 0 25px 0 50px;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					pointer-events: none;
					span {
						overflow: hidden;
						.address {
							font-size: 1.5rem;
							font-weight: 400;
						}
						.name {
							font-size: 5.5rem;
							font-weight: 400;
							text-transform: uppercase;
							line-height: 1.1;
							letter-spacing: 1px;
							margin-top: 1rem;
						}
						.description {
							font-size: 1rem;
							margin-top: 0.8rem;
							font-weight: 300;
						}
						.discover-button {
							width: 25rem;
							height: 5rem;
							border-radius: 50px;
							margin-top: 2rem;
						}
						& > * {
							transition: 0.5s ease;
							opacity: 0;
							transform: translateY(300px);
							transition-delay: calc((3 - var(--idx)) * 0.1s);
						}
					}
					&.active {
						pointer-events: all;
						span > * {
							opacity: 1;
							transform: translateY(0);
							transition-delay: calc((var(--idx)) * 0.1s);
						}
					}
				}
			}
			.thumbnail-list {
				position: relative;
				height: 30rem;
				flex: 1;
				.wrapper {
					position: relative;
					z-index: 10;
					height: 30rem;
					.thumbnail {
						position: absolute;
						height: 30rem;
						width: 20rem;
						border-radius: 15px;
						overflow: hidden;
						transition: 0.75s cubic-bezier(0.6, 0.1, 0.3, 1);
						transform: translateX(calc(var(--idx) * 23rem));
						box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
						&.zoom {
							border-radius: 0;

							width: 100vw;
							height: 100vh;
							/* transform: translate(calc(100vw / -3 * 1.2), calc(100vh / -4 * 0.28)); */
							transform: translate(calc(100vw / -3 * 1.2), calc(73% - 100vh));
							filter: brightness(40%);
							box-shadow: none;
						}
					}
				}
			}
		}
		.navigation {
			margin-left: 40%;
			display: flex;
			align-items: center;
			gap: 20px;
			padding: 50px 50px 50px 0;
			z-index: 20;
			.next-button {
				width: 18rem;
				border-radius: 50px;
			}
			.line {
				flex: 1;
				height: 2px;
				background-color: #fff;
			}
			.ordinal-number {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 50px;
				overflow: hidden;
				h2 {
					font-size: 3.5rem;
					font-weight: 400;
					line-height: 1;
					position: absolute;
					transform: translateY(200%);
					transition: 0.5s ease;
					&.active {
						transform: unset;
					}
				}
			}
		}
	}
}
button {
	background-color: transparent;
	border: 1px solid white;
	color: inherit;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	height: 50px;
	transition: 0.5 ease;
}
button:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.4);
}
