:root {
  --text-color: #000;
  --primary-color: blue;
  --primary-font: "Prompt";
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
}

.container {
  width: 120rem;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: 1px solid white;
  color: inherit;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  height: 50px;
  border-radius: 50px;
  min-width: 10rem;
}

button:hover {
  cursor: pointer;
  background-color: red;
}

.modal-login {
  z-index: 100;
  font-family: sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-login .modal-container {
  height: 650px;
  width: 500px;
  border-radius: 2rem;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.13);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  position: relative;
}
.modal-login .modal-container .modal-close {
  position: absolute;
  background-color: white;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 2rem;
  cursor: pointer;
}
.modal-login .modal-container .modal-close ion-icon {
  font-size: 1.8rem;
  color: black;
}
.modal-login .modal-container .modal-header {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-bottom: 4rem;
  background-color: inherit;
}
.modal-login .modal-container .modal-button {
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 0.1rem;
  margin-top: 5rem;
  background-color: #ffffff;
  color: black;
  transition: 1s;
  display: flex;
}
.modal-login .modal-container .modal-body {
  padding-inline: 30px;
}
.modal-login .modal-container .modal-body .modal-input-box {
  position: relative;
  margin-bottom: 8rem;
}
.modal-login .modal-container .modal-body .modal-input-box .modal-label {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 2rem;
  transition: all 0.1s linear;
}
.modal-login .modal-container .modal-body .modal-input-box .modal-input {
  background-color: transparent;
  height: 100%;
  padding: 3rem;
  width: 100%;
  border: none;
  outline: none;
  border: 0px none;
  padding: 1rem;
  font-size: 2rem;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}
.modal-login .modal-container .modal-body .modal-input-box .modal-input:focus ~ .modal-label,
.modal-login .modal-container .modal-body .modal-input-box .modal-input:not(:placeholder-shown) ~ .modal-label {
  padding: 0 2rem;
  top: -1rem;
}
.modal-login .modal-container .modal-body .modal-button:hover {
  color: #ffffff;
  background-color: transparent;
}
.modal-login .modal-container .modal-body .modal-icon {
  position: absolute;
  right: 0;
  font-style: 1.2em;
  color: white;
}

/*
  .modal-login{
    .modal-container
      modal-close
      modal-header
      modal-body
      modal-footer

*/
header {
  overflow: hidden;
  background-color: #f6f6f6;
  position: relative;
}
header .container {
  background-color: #767676;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  color: white;
}
header .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 2;
}
header .container nav .logo {
  width: 15rem;
  height: 5rem;
  background-color: red;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li {
  margin-left: 30px;
  cursor: pointer;
}
header .container .content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .content .introduce {
  position: relative;
  width: 40%;
  height: 50%;
  z-index: 2;
  margin-right: 30px;
}
header .container .content .introduce .wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 0 25px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  pointer-events: none;
}
header .container .content .introduce .wrapper.active {
  pointer-events: all;
}
header .container .content .introduce .wrapper.active span > * {
  opacity: 1;
  transform: translateY(0);
  transition-delay: calc((var(--idx)) * 0.1s);
}
header .container .content .introduce .wrapper span {
  overflow: hidden;
}
header .container .content .introduce .wrapper span > * {
  transition: 0.5s ease;
  opacity: 0;
  transform: translateY(300px);
  transition-delay: calc((3 - var(--idx)) * 0.1s);
}
header .container .content .introduce .wrapper span .address {
  font-size: 1.5rem;
  font-weight: 500;
}
header .container .content .introduce .wrapper span .name {
  font-size: 5.5rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 1px;
  margin-top: 1rem;
}
header .container .content .introduce .wrapper span .description {
  font-size: 1rem;
  margin-top: 0.8rem;
  font-weight: 400;
}
header .container .content .introduce .wrapper span .discover-button {
  width: 25rem;
  height: 5rem;
  border-radius: 50px;
  margin-top: 2rem;
  transition: 0.5s ease;
}
header .container .content .thumbnail-list {
  height: 30rem;
  flex: 1;
}
header .container .content .thumbnail-list .wrapper {
  height: 30rem;
}
header .container .content .thumbnail-list .wrapper .thumbnail {
  position: absolute;
  height: 30rem;
  width: 20rem;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.75s cubic-bezier(0.6, 0.1, 0.3, 1);
  transform: translateX(calc(var(--idx) * 23rem));
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}
header .container .content .thumbnail-list .wrapper .thumbnail.zoom {
  border-radius: 0;
  width: 100vw;
  height: 100vh;
  /* transform: translate(calc(100vw / -3 * 1.2), calc(100vh / -4 * 0.28)); */
  transform: translate(calc((100vw - 200px - 40px) / -2 - 30px), calc((-100vh + 300px + 100px) / 2));
  filter: brightness(40%);
  box-shadow: none;
}
header .container .content .thumbnail-list .wrapper .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .container .navigation {
  margin-left: 40%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 50px 50px 50px 0;
  z-index: 1;
}
header .container .navigation .next-button {
  width: 18rem;
  border-radius: 50px;
}
header .container .navigation .line {
  flex: 1;
  height: 2px;
  background-color: #fff;
}
header .container .navigation .ordinal-number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
header .container .navigation .ordinal-number h2 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;
  position: absolute;
  transform: translateY(200%);
  transition: 0.5s ease;
}
header .container .navigation .ordinal-number h2.active {
  transform: unset;
}

/*# sourceMappingURL=main.css.map */
