:root {
  --text-color: #000;
  --hover-color: rgb(75, 75, 255);
  --primary-font: "Prompt";
  --secondary-font: "Roboto", sans-serif;
  --dark-color: #14213d;
  --primary-color: #fca311;
  --second-color: #e5e5e5;
  --light-color: #fffff;
  --gray29: #292929;
  --gray1: #333333;
  --gray8b: #8b8b8b8b;
}

.title {
  font-family: var(--secondary-font);
}

.heading {
  text-transform: uppercase;
  font-size: 7.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.gray-black-text {
  font-size: 6.4rem;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 6rem;
  color: var(--second-color);
}
.gray-black-text span {
  color: var(--dark-color);
}

html {
  font-size: 62.5%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 479px) {
  html {
    font-size: 30%;
  }
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    margin: 0;
    width: 100vw;
  }
}
@media (max-width: 479px) {
  .container {
    width: 100vw;
  }
}

.main-container {
  font-family: var(--secondary-font);
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 10px;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.sketchfab-embed-wrapper {
  width: 120rem;
  height: 80rem;
}

.line-effect {
  width: 0;
  z-index: 2;
  height: 2px;
  background-color: white;
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}

.modal-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  display: none;
}
.modal-backdrop .backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(65, 65, 65, 0.9);
  z-index: 5;
}
.modal-backdrop .modal {
  z-index: 10;
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-backdrop.active {
  display: block;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120rem;
  background-color: white;
  padding: 20rem;
}
.contact-us h2 {
  color: black;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  line-height: 1.8;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 4rem;
}
.contact-us form {
  display: grid;
  gap: 3rem;
  width: 100%;
  margin-bottom: 3rem;
  grid-template-areas: "area1 area2" "area3 area3" "area4 area4 ";
}
.contact-us form div:nth-child(1) {
  grid-area: area1;
}
.contact-us form div:nth-child(2) {
  grid-area: area2;
}
.contact-us form div:nth-child(3) {
  grid-area: area3;
}
.contact-us form div:nth-child(4) {
  grid-area: area4;
}
.contact-us form label {
  font-size: 2.4rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  display: block;
  margin-bottom: 1.2rem;
}
.contact-us form input {
  padding: 2rem 2rem;
  font-size: 2.4rem;
  width: 100%;
  outline: none;
}
.contact-us .send {
  width: 100%;
  text-align: center;
  padding: 2rem 3rem;
  position: relative;
  background: #2f2f2f;
  color: #fff;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.contact-us .send.active {
  width: 40%;
  background: var(--primary-color);
  transition: 1s;
  justify-content: space-between;
}
.contact-us .send.active .check-box {
  right: 0;
  opacity: 1;
  transition: 1s;
}
.contact-us .send.active span {
  margin-right: 125px;
  transition: 1s;
}
.contact-us .send.active svg path {
  stroke-dashoffset: 0 !important;
  transition: 1s;
  transition-delay: 1s;
}
.contact-us .send .check-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 12px -2px rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.contact-us .send .check-box svg {
  width: 40px;
}
.contact-us .send .check-box svg path {
  stroke-width: 3;
  stroke: #fff;
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  stroke-linecap: round;
}

@keyframes intro-effect {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes show-intro {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-90%);
  }
}
@keyframes hide-intro {
  from {
    transform: translateY(-90%);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes opacity-effect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity-hide {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
  }
}
@keyframes hide {
  40%, 60% {
    width: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink-caret {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@keyframes load89234 {
  100% {
    background-position: -100% 0;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  width: 7rem;
  height: 4.2rem;
  object-fit: contain;
}
header .header-navigation {
  padding-block: 2rem;
}
header .header-navigation .list-nav {
  display: flex;
  column-gap: 60px;
}
header .header-navigation .list-nav .nav-item {
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  font-size: 12px;
  font-weight: 400;
  color: var(--gray1);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}
header .header-navigation .list-nav .nav-item::before {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0;
  color: var(--hover-color);
  background-color: var(--hover-color);
  width: 0;
  height: 0.2rem;
  transition: 0.3s;
}
header .header-navigation .list-nav .nav-item:hover {
  color: var(--hover-color);
}
header .header-navigation .list-nav .nav-item:hover::before {
  width: 100%;
}
header .header-navigation .list-nav .nav-item.active {
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: border-color 0.5s;
}
header .header-navigation .list-nav .nav-item.active:hover {
  filter: brightness(120%);
}
header .header-navigation .list-nav .nav-item.active:hover::before {
  width: 0;
}
header .user {
  padding: 1rem;
  cursor: pointer;
}
header .user ion-icon {
  font-size: 2.4rem;
}

main {
  position: relative;
}
main .main {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 80vh;
}
main .main .overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 80vh;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.7301514356) 0%, rgba(0, 212, 255, 0) 100%);
}
main .main .img-banner img {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}
main .main .content {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}
main .main .content .title {
  font-size: 4rem;
  font-weight: 700;
  margin-block: 1rem;
}
main .main .content .description-banner {
  display: inline-block;
  width: fit-content;
}
main .main .content .description-banner span {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  position: absolute;
  width: fit-content;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: blink-caret 500ms steps(44) infinite;
}
main .slogan {
  margin-top: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}
main .slogan .slogan-item .slogan-image {
  margin-bottom: 1rem;
}
main .slogan .slogan-item .slogan-image img {
  width: 2.2rem;
  height: 2.2rem;
  object-fit: contain;
}
main .slogan .slogan-content .title {
  font-size: 1.4rem;
  line-height: 1.302;
  font-weight: 500;
  margin-bottom: 1.8rem;
}
main .slogan .slogan-content .description {
  font-size: 1.2rem;
  line-height: 1.301;
  font-weight: 400;
}
main .step {
  margin-top: 15rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
main .step .step-image img {
  width: 57.5rem;
  height: 71rem;
  opacity: 0.9;
}
main .step .step-content .title {
  font-size: 4.8rem;
  line-height: 1.302;
  font-weight: 200;
  margin-bottom: 3rem;
}
main .step .step-content .description {
  max-width: 54.2rem;
  line-height: 1.302;
  font-weight: 200;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}
main .step .step-content .step-list {
  display: flex;
  column-gap: 3rem;
  margin-bottom: 3rem;
}
main .step .step-content .step-list .step-item {
  border: 1px solid var(--dark-color);
  display: flex;
  flex-direction: column;
  padding: 4.2rem 6.4rem 4.2rem 1.5rem;
}
main .step .step-content .step-list .step-item ion-icon {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
main .step .step-content .step-list .step-item span {
  max-width: 9rem;
  line-height: 1.302;
  font-weight: 200;
  font-size: 1.4rem;
}
main .step .step-content .step-list .step-item:first-child {
  background-color: var(--dark-color);
}
main .step .step-content .step-list .step-item:first-child ion-icon {
  color: var(--primary-color);
}
main .step .step-content .step-list .step-item:first-child span {
  color: white;
}
main .our-projects {
  margin-top: 20rem;
}
main .our-projects .title {
  font-size: 4.8rem;
  line-height: 1.302;
  font-weight: 400;
  margin-bottom: 1.2rem;
}
main .our-projects .project-list {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-rows: 52.2rem;
  gap: 3rem;
  transition: 500ms;
}
main .our-projects .project-list .project {
  transition: 500ms;
  position: relative;
  overflow: hidden;
}
main .our-projects .project-list .project .overlay {
  transform: translateY(-100%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear, transform 0.5s linear;
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #1e1e1e 0%, rgba(30, 30, 30, 0) 50.37%);
}
main .our-projects .project-list .project .name-project {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  font-family: var(--secondary-font);
  font-size: 2.4rem;
  line-height: 1.302;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 5%;
  left: 5%;
}
main .our-projects .project-list .project .project-image {
  width: 100%;
  height: 100%;
}
main .our-projects .project-list .project .project-image img {
  object-fit: cover;
}
main .our-projects .project-list .project button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  bottom: 5%;
  right: 5%;
}
main .our-projects .project-list .project.show .overlay {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
main .our-projects .project-list .project.show .name-project {
  visibility: visible;
  opacity: 1;
}
main .our-projects .project-list .project.show button {
  visibility: visible;
  opacity: 1;
}
main section.gallery {
  margin-top: 6rem;
  font-family: var(--secondary-font);
}
main section.gallery .gallery-wrap {
  border-top: 1px solid #f2f2f2;
  padding: 3rem 0;
  margin-bottom: 3rem;
  overflow: hidden;
}
main section.gallery .gallery-wrap .list-wrap {
  display: flex;
}
main section.gallery .gallery-wrap .list-wrap .gallery-list {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 26rem 26rem;
  gap: 3rem;
  min-width: 100%;
  display: none;
}
main section.gallery .gallery-wrap .list-wrap .gallery-list.gallery-loader:not(.active) .gallery-item {
  animation: opacity-hide 0.5s;
}
main section.gallery .gallery-wrap .list-wrap .gallery-list.gallery-loader .gallery-item {
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
}
main section.gallery .gallery-wrap .list-wrap .gallery-list .gallery-item {
  animation-delay: 1000ms;
  animation: opacity-effect 1s ease;
}
main section.gallery .gallery-wrap .list-wrap .gallery-list .gallery-item img {
  object-fit: cover;
}
main section.gallery .gallery-wrap .list-wrap .gallery-list.active {
  display: grid;
}
main section.projects {
  margin-top: 6rem;
  font-family: var(--secondary-font);
}
main section.projects .project-wrap {
  border-top: 1px solid #f2f2f2;
  padding: 3rem 0;
  margin-bottom: 3rem;
  overflow: hidden;
}
main section.projects .project-wrap .project-list-wrap {
  display: flex;
}
main section.projects .project-wrap .project-list-wrap .project-list {
  display: none;
  flex-direction: column;
  row-gap: 6rem;
  min-width: 100%;
}
main section.projects .project-wrap .project-list-wrap .project-list.active {
  display: flex;
  animation: opacity-effect ease-in-out 1s;
}
main section.projects .project-wrap .project-list-wrap .project-list .project {
  display: flex;
  align-items: center;
  height: 44rem;
  overflow: hidden;
}
main section.projects .project-wrap .project-list-wrap .project-list .project .project-img {
  flex: 2;
}
main section.projects .project-wrap .project-list-wrap .project-list .project .project-img img {
  object-fit: cover;
}
main section.projects .project-wrap .project-list-wrap .project-list .project .project-content {
  background-color: #fbfbfb;
  padding: 3rem;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section.projects .project-wrap .project-list-wrap .project-list .project .project-content .title {
  font-size: 4rem;
  line-height: 1.172;
  font-weight: 300;
  color: var(--second-color);
  margin-bottom: 7rem;
}
main section.projects .project-wrap .project-list-wrap .project-list .project .project-content .description {
  font-size: 1.4rem;
  line-height: 1.6;
  font-weight: 300;
  margin-bottom: 6rem;
}
main section.projects .project-wrap .project-list-wrap .project-list .project .project-content .primary-btn {
  font-size: 1.2rem;
  font-weight: 400;
}
main section.projects .project-wrap .project-list-wrap .project-loader {
  display: none;
}
main section.projects .project-wrap .project-list-wrap .project-loader:not(.active) .gallery-item {
  animation: opacity-hide 0.5s;
}
main section.projects .project-wrap .project-list-wrap .project-loader .project .project-img {
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
  width: 100%;
  height: 100%;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
}
main section.projects .project-wrap .project-list-wrap .project-loader .project .project-content .title,
main section.projects .project-wrap .project-list-wrap .project-loader .project .project-content .description,
main section.projects .project-wrap .project-list-wrap .project-loader .project .project-content .primary-btn {
  background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
  width: 100%;
  height: 100%;
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: load89234 2s infinite;
}
main section.projects .project-wrap .project-list-wrap .project-loader .project .project-content .primary-btn {
  border: none;
}
main .function {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
main .function .numberic {
  position: relative;
  font-size: 2.4rem;
  line-height: 1;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  gap: 9rem;
}
main .function .numberic .current-number::before {
  content: "";
  position: absolute;
  width: 4.38rem;
  height: 0px;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #e0e0e0;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
}
main .function .numberic .amount {
  color: var(--second-color);
}
main .function .btn-prev,
main .function .btn-next {
  height: 5rem;
}
main section.project-detail {
  margin-top: 6rem;
}
main section.project-detail .heading {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-bottom: 4rem;
  margin-bottom: 6rem;
  border-bottom: 2px solid;
  border-image: linear-gradient(270deg, var(--second-color) 70%, var(--primary-color) 100%);
  border-image-slice: 1;
}
main section.project-detail .heading h2 {
  margin: 0;
}
main section.project-detail .heading h6 {
  width: 40%;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 100;
  padding-left: 1rem;
  border-left: 2px solid var(--primary-color);
}
main section.project-detail .detail .main-img {
  margin-bottom: 4rem;
}
main section.project-detail .detail .main-img img {
  height: 40rem;
  object-fit: cover;
}
main section.project-detail .detail .working-process {
  display: flex;
  margin-bottom: 3rem;
}
main section.project-detail .detail .working-process .subtitle {
  flex: 1;
  font-size: 2.6rem;
  font-weight: 600;
}
main section.project-detail .detail .working-process .description {
  flex: 2;
}
main section.project-detail .detail .working-process .description p {
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 400;
  padding-bottom: 1rem;
}
main section.project-detail .detail .working-process .description .you-get {
  margin-top: 3rem;
  background-color: var(--gray1);
  padding: 2.4rem 3rem;
  display: flex;
  align-items: center;
  gap: 4rem;
}
main section.project-detail .detail .working-process .description .you-get span {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--gray8b);
}
main section.project-detail .detail .working-process .description .you-get ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}
main section.project-detail .detail .working-process .description .you-get ul li {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 400;
}
main section.project-detail .detail .interior {
  position: relative;
}
main section.project-detail .detail .interior .subtitle {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 40px;
}
main section.project-detail .detail .interior .swiper-container {
  height: 45rem;
  margin-bottom: 6rem;
}
main section.project-detail .detail .interior .swiper-container .swiper-around {
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  width: 100vw;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap {
  display: flex;
  transition: 0.4s ease;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide {
  height: 45rem;
  transition: all 0.4s ease-in-out;
  flex: 0;
  position: relative;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide.swiper-slide-prev, main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide.swiper-slide-next {
  flex: 1;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide.swiper-slide-active {
  flex: 2;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide img {
  object-fit: cover;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide .det {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  color: white;
  opacity: 0;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide .det:hover {
  opacity: 1;
  transition: all 0.15s ease 0s;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide .det:hover .det-category {
  transition: all 0.15s ease 0.4s;
  opacity: 1;
  margin-top: 0;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide .det:hover .det-item {
  transition: all 0.15s ease 0.4s;
  opacity: 1;
  margin-top: 0;
  bottom: 0;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide .det .det-category {
  position: absolute;
  opacity: 0;
  top: 2rem;
  margin-top: 2rem;
  left: 0;
  padding: 1rem 2rem;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide .det .det-category span {
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-right: 1.4rem;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide .det .det-item {
  position: absolute;
  opacity: 0;
  bottom: -6rem;
  left: 0;
  right: 0;
  padding-left: 3rem;
  background-color: var(--gray29);
  height: 60px;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide .det .det-item span {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide .det .det-item .btn-open-modal {
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .swiper-wrap .swiper-slide .det .det-item .btn-open-modal ion-icon {
  height: 6rem;
  font-size: 2rem;
  background-color: var(--gray1);
  padding: 0 2rem;
  color: var(--primary-color);
}
main section.project-detail .detail .interior .swiper-container .swiper-around .btn-second {
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 4.6rem;
  height: 4.6rem;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .btn-second.btn-prev {
  left: 1.8rem;
}
main section.project-detail .detail .interior .swiper-container .swiper-around .btn-second.btn-next {
  right: 1.8rem;
}
main section.project-detail .detail .prices {
  margin-bottom: 6rem;
}
main section.project-detail .detail .prices .subtitle {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 40px;
}
main section.project-detail .detail .prices .table-prices {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
main section.project-detail .detail .prices .table-prices tbody {
  width: 100%;
}
main section.project-detail .detail .prices .table-prices tbody tr:nth-child(odd) {
  background-color: #f6f6f6;
}
main section.project-detail .detail .prices .table-prices tbody tr td {
  padding: 2.4rem;
  line-height: 2.8rem;
  text-align: center;
  vertical-align: top;
}
main section.project-detail .detail .prices .table-prices tbody tr td:first-child {
  border-right: 1px solid var(--second-color);
}
main section.project-detail .detail .get-in-touch {
  margin-bottom: 6rem;
  position: relative;
  background-color: #262626;
  display: flex;
  align-items: center;
  padding: 4rem 4rem;
  justify-content: space-between;
}
main section.project-detail .detail .get-in-touch::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 46%;
  background: rgba(255, 255, 255, 0.041);
}
main section.project-detail .detail .get-in-touch .ready h3 {
  position: relative;
  color: #8b8b8b;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  padding-left: 9rem;
  top: 0.2rem;
  text-transform: uppercase;
}
main section.project-detail .detail .get-in-touch .ready h3::before {
  content: "";
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 0;
  width: 5rem;
  height: 0.2rem;
}
main section.project-detail .detail .get-in-touch .ready h3::after {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -5rem;
  bottom: -1.5rem;
  width: 27rem;
  background: rgba(255, 255, 255, 0.041);
}
main section.project-detail .detail .get-in-touch .get {
  z-index: 3;
  cursor: pointer;
  color: var(--primary-color);
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0px;
  padding: 14px 30px 14px 40px;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
}
main section.project-detail .detail .get-in-touch .get ion-icon {
  margin-left: 2rem;
}
main section.helps {
  margin-top: 6rem;
  display: flex;
}
main section.helps .contact-information {
  width: 100%;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main section.helps .contact-information .address,
main section.helps .contact-information .mail {
  font-weight: 300;
}
main section.helps .map {
  width: 100%;
  flex: 2;
}
main section.helps .map iframe {
  width: 100%;
}
main:has(section.gallery) + footer {
  height: 35rem;
  align-items: center;
}
main:has(section.gallery) + footer .container .gmail-container {
  display: none;
}
main:has(section.gallery) + footer .container .information {
  transform: none;
}
main:has(section.projects) + footer {
  height: 35rem;
  align-items: center;
}
main:has(section.projects) + footer .container .gmail-container {
  display: none;
}
main:has(section.projects) + footer .container .information {
  transform: none;
}
main:has(section.project-detail) + footer {
  height: 35rem;
  align-items: center;
}
main:has(section.project-detail) + footer .container .gmail-container {
  display: none;
}
main:has(section.project-detail) + footer .container .information {
  transform: none;
}
main:has(section.helps) + footer {
  height: 35rem;
  align-items: center;
}
main:has(section.helps) + footer .container .gmail-container {
  display: none;
}
main:has(section.helps) + footer .container .information {
  transform: none;
}

.footer-page {
  font-family: "DM Sans", sans-serif;
  margin-top: 20rem;
  display: block;
  width: 100%;
  height: 50rem;
  background-color: rgb(28, 38, 62);
  background-color: rgb(228, 228, 228);
  display: flex;
  justify-content: center;
}
.footer-page .container {
  align-items: center;
}
.footer-page .container .gmail-container {
  height: 30rem;
  width: 1180px;
  background-color: rgb(255, 165, 57);
  display: flex;
  transform: translateY(-50%);
  justify-content: center;
}
.footer-page .container .gmail-container .box {
  text-align: center;
  align-items: center;
  padding-top: 5rem;
}
.footer-page .container .gmail-container .box .intro {
  text-align: center;
  font-weight: 10px;
  font-size: 40px;
}
.footer-page .container .gmail-container .box .email-box {
  margin-top: 2rem;
  padding: 0;
}
.footer-page .container .gmail-container .box .email-box .email-input {
  background-color: transparent;
  height: 4rem;
  border: 1px solid black;
  padding: 1rem;
  outline: none;
}
.footer-page .container .gmail-container .box .email-box .email-submit {
  height: 4rem;
  padding: 1rem;
  margin-left: -4px;
  border-radius: 0;
  background-color: black;
  color: white;
  border: 0 solid black;
}
.footer-page .container .information {
  width: 1180px;
  height: 70%;
  transform: translateY(-43%);
  display: flex;
  align-items: center;
}
.footer-page .container .information .information-container {
  height: 45%;
  width: 100%;
  display: flex;
}
.footer-page .container .information .information-container .information-container-left {
  padding: 1rem;
  height: 100%;
  width: 30%;
  display: block;
}
.footer-page .container .information .information-container .information-container-left .header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.footer-page .container .information .information-container .information-container-left .header .logo {
  height: 4rem;
  width: 4rem;
}
.footer-page .container .information .information-container .information-container-left .header .name {
  font-weight: 700;
  font-size: 24px;
}
.footer-page .container .information .information-container .information-container-left .detail {
  font-size: small;
  padding: 1rem;
}
.footer-page .container .information .information-container .information-container-right {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  justify-content: space-evenly;
}
.footer-page .container .information .information-container .information-container-right .categorize {
  margin-right: 6rem;
}
.footer-page .container .information .information-container .information-container-right .categorize .option {
  margin-bottom: 1rem;
  font-family: "DM Sans", sans-serif;
  font-size: small;
  font-weight: 400;
}
.footer-page .container .information .information-container .information-container-right .categorize .categorize-name {
  margin-bottom: 1.5rem;
  text-decoration: underline;
  font-style: 16px;
}

button {
  background-color: transparent;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  min-height: 5rem;
  min-width: 10rem;
}
button:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

.btn-border {
  border: 0.1rem solid white;
  border-radius: 50px;
}

.btn-border:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-full {
  width: 100%;
  text-align: center;
}

.btn-full:hover {
  filter: brightness(95%);
}

.primary-btn {
  background-color: var(--primary-color);
  border: 1px solid var(--dark-color);
  display: flex;
  align-items: center;
  padding: 1rem 2.2rem;
  width: fit-content;
  cursor: pointer;
}

.btn-second {
  background: rgba(0, 0, 0, 0.7);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
}

/*# sourceMappingURL=multipage.css.map */
