:root {
  --text-color: #000;
  --hover-color: rgb(75, 75, 255);
  --primary-font: "Prompt";
  --secondary-font: "Roboto", sans-serif;
  --dark-color: #14213d;
  --primary-color: FCA311;
  --second-color: #e5e5e5;
  --light-color: #fffff;
  --gray1: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5;
}

.title {
  font-family: var(--secondary-font);
}

.heading {
  text-transform: uppercase;
  font-size: 7.2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

html {
  font-size: 62.5%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 479px) {
  html {
    font-size: 30%;
  }
}

body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    margin: 0;
    width: 100vw;
  }
}
@media (max-width: 479px) {
  .container {
    width: 100vw;
  }
}

.main-container {
  font-family: var(--secondary-font);
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 10px;
}

.line-effect {
  width: 0;
  z-index: 2;
  height: 2px;
  background-color: white;
  position: fixed;
  pointer-events: none;
  transition: all 0.25s linear;
}

@keyframes intro-effect {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes show-intro {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-90%);
  }
}
@keyframes hide-intro {
  from {
    transform: translateY(-90%);
  }
  to {
    transform: translateY(-10px);
  }
}
@keyframes opacity-effect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide {
  40%, 60% {
    width: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes blink-caret {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  width: 7rem;
  height: 4.2rem;
  object-fit: contain;
}
header .header-navigation {
  padding-block: 2rem;
}
header .header-navigation .list-nav {
  display: flex;
  column-gap: 60px;
}
header .header-navigation .list-nav .nav-item {
  position: relative;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  color: var(--gray1);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  cursor: pointer;
}
header .header-navigation .list-nav .nav-item::before {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0;
  color: var(--hover-color);
  background-color: var(--hover-color);
  width: 0;
  height: 0.2rem;
  transition: 0.3s;
}
header .header-navigation .list-nav .nav-item:hover {
  color: var(--hover-color);
}
header .header-navigation .list-nav .nav-item:hover::before {
  width: 100%;
}
header .header-navigation .list-nav .nav-item.active {
  border-top: 1px solid var(--gray1);
  border-bottom: 1px solid var(--gray1);
}
header .header-navigation .list-nav .nav-item.active:hover {
  color: var(--hover-color);
  border-color: var(--hover-color);
}
header .header-navigation .list-nav .nav-item.active:hover::before {
  width: 0;
}
header .user {
  padding: 1rem;
  cursor: pointer;
}
header .user ion-icon {
  font-size: 2.4rem;
}

main {
  position: relative;
}
main .main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 80vh;
}
main .main .overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 80vh;
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.7301514356) 0%, rgba(0, 212, 255, 0) 100%);
}
main .main .img-banner img {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}
main .main .content {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}
main .main .content .title {
  font-size: 4rem;
  font-weight: 700;
  margin-block: 1rem;
}
main .main .content .description-banner {
  width: fit-content;
  display: inline-block;
}
main .main .content .description-banner span {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 150%;
  position: relative;
  width: fit-content;
  top: 50%;
  transform: translateY(-50%);
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(44), blink-caret 500ms steps(44) infinite;
}
main .main .content .description-banner span.active {
  animation: hide 4s steps(44), blink-caret 500ms steps(44) infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=multipage.css.map */
