.modal-register-login{
    z-index: 100;
      font-family: sans-serif;
      color: #ffffff;
      letter-spacing: 0.5px;
      outline: none;
      border: none;
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0; 
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      .modal-register-container{
        height: 650px;
        width: 500px;
        border-radius: 2rem;
        backdrop-filter: blur(15px);
        border: 2px solid rgba(255,255,255,0.13);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 50px 35px;
        position: relative;
        .modal-register-close{
          position: absolute;
          background-color: white;
          right: 0;
          top: 0;
          display:flex;
          justify-content: center;
          align-items: center;
          border-bottom-left-radius: 2rem;
          border-top-right-radius: 2rem;
          border-left: 2px solid #ffffff;
          border-bottom: 2px solid #ffffff;
          padding: 2rem;
          cursor: pointer;
          ion-icon{
            font-size: 1.8rem;
            color: black;
          }
        } 
        
        .modal-register-header{
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 3rem;
          background-color: inherit;
        }
        .modal-register-button{
          width: 100%;
          height: 7rem;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2rem;
          font-size: 1.5rem;
          font-weight: 0.1rem;
          margin-top: 5rem;
          background-color: #ffffff;
          color: black;
          transition: .5s;
          display: flex;
        }
        .modal-register-body{
          padding-inline: 30px;
            .modal-register-input-box{
              position: relative;
              .modal-register-label{
                position: absolute;
                top: 3rem;
                left: 0;
                transform: translateY(-10%);
                pointer-events: none;
                font-size: 1.5rem;
                transition: all .1s linear;
              }
              .modal-register-input{
                background-color: transparent;
                height: 100%;
                padding: 1rem 0;
                width: 100%;
                border:none;
                outline: none;
                border: 0px none;
                font-size: 2rem;
                border-bottom: 1px solid #ffffff;
                margin-top: 2rem;
                margin-bottom: 1rem;
                color:#ffffff;
              }
              .modal-register-input:focus ~ .modal-register-label,
              .modal-register-input:not(:placeholder-shown) ~ .modal-register-label{
                margin: 0;
                padding: 0 1em;
                top: -0.00001px;
              }
          }
          .modal-register-button:hover{
            color:#ffffff;
            background-color: transparent;
          }
          .modal-register-icon{
            position: absolute;
            right: 0;
            font-style: 1.2em;
            color: white;
            margin-top: 3rem
          }
          .body-footer{
            margin-top: 3rem;
          }
        }
        .modal-register-footer{
          height: 70px;
          display: flex;
          padding: 0 30px;
          justify-content: space-between;
          align-items: center;
          .modal-register-button-footer{
            width: 48%;
            display: flex;
            justify-content: space-evenly;
          }
          .modal-register-button-footer:hover{
            color: #0165E1;
            background-color: transparent;
          }
          .facebook:hover{
            color: #0165E1;
          }
          .instagram:hover{
            color: #C13584;
          }
          }
        }
    }
        
        
  