html {
	font-size: 62.5%;
}

body {
	font-family: var(--primary-font);
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 500;
}

.container {
	margin: 0 auto;
	width: 120rem;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background: rgba(0, 0, 0, 0.75);
}
