html {
	font-size: 62.5%;
	@include tablet {
		font-size: 50%;
	}
	@include mobile {
		font-size: 30%;
	}
}

body {
	font-family: var(--primary-font);
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 500;
}

.container {
	margin: 0 auto;
	max-width: 120rem;
	@include tablet {
		margin: 0;
		width: 100vw;
	}
	@include mobile {
		width: 100vw;
	}
}

.main-container {
	font-family: var(--secondary-font);
	margin: 0 auto;
	max-width: 120rem;
	padding: 0 10px;
}

.underline {
	text-decoration: underline;
}

.line-effect {
	width: 0;
	z-index: 2;
	height: 2px;
	background-color: white;
	position: fixed;
	pointer-events: none;
	transition: all 0.25s linear;
}
@keyframes intro-effect {
	0% {
		transform: translateY(-10px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(-10px);
	}
}
@keyframes show-intro {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(-90%);
	}
}
@keyframes hide-intro {
	from {
		transform: translateY(-90%);
	}
	to {
		transform: translateY(-10px);
	}
}

@keyframes opacity-effect {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes hide {
	40%,
	60% {
		width: 100%;
	}
	100% {
		left: 0;
	}
}

@keyframes typewriter {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@keyframes blink-caret {
	from {
		border-right-color: rgba(255, 255, 255, 0.75);
	}
	to {
		border-right-color: transparent;
	}
}
